h1 {
    font-family: 'Anton', sans-serif;
}
h3 {
    font-family: 'Abel', sans-serif;
}
h6 {
    font-family: 'Abel', sans-serif;
}
body{
    background-color: #f0f0f0;
}
.myCircle {
    font-family: 'Anton', sans-serif;
    border: 6px solid white;
    height: 105px;
    width: 105px;
    margin-top: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mySmallCircle {
    font-family: 'Anton', sans-serif;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redCircle {
    background-color: #e6563b;
}
.orangeCircle {
    background-color: #EB9D3A;
}
.greenCircle {
    background-color: #7cb06c;
}
.blueCircle {
    background-color: #00aba9;
}

.bgColor {
    background-color: #E6E6E6;
}
hr {
    width: 80%;
    margin:auto;
}

@media screen and (max-width: 768px) {
    .mobile-break {
        display:block;
    }
    .hero-scene {
        display:block;
        width:100%;
        max-width:391px;
        margin: 0 auto;
    }
    hr {
        display: none;
    }
    .sideColumn {
        display: none;
    }
}
@media screen and (min-width:769px) and (max-width: 959px){
    .sideColumn {
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .sideColumn {

    }
}

.imgWrapper{
    position: absolute;

}

