h1 {
    font-family: 'Anton', sans-serif;
}
#redCircle {
    height: 75px;
    width: 75px;
    background-color: #e6563b;
    display: flex;
    align-items: center;
    justify-content: center;
}
#orangeCircle {
    height: 75px;
    width: 75px;
    background-color: #EB9D3A;
    display: flex;
    align-items: center;
    justify-content: center;
}
#greenCircle {
    height: 75px;
    width: 75px;
    background-color: #7cb06c;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blueCircle {
    height: 75px;
    width: 75px;
    background-color: #00aba9;
    display: flex;
    align-items: center;
    justify-content: center;
}

